<ul>
  <% @event.participations.each do |participation| %>
    <li>
      <%= participation.user.email %>
      <% if !participation.is_banned? %>
        <%= button_to "Remove", participation_path(participation), method: "patch" %>
      <% end %>
    </li>
  <% end %>
</ul>