<div class="chat" data-controller="chat">
  <h1><%= @room.participants.reject { |p| p.id == current_user.id }.first.email %></h1>  
  <%= turbo_stream_from @room, :messages %>
  <div id="messages-list" data-chat-target="messagesList">
    <%= render @room.messages %>
  </div>
  <%= render "chat/messages/form" %>
</div>