<div class="chat" data-controller="chat">
  <h1>Mercedes Yemelyan</h1>  
  <%= turbo_stream_from @room, :messages %>
  <div id="messages-list" data-chat-target="messagesList">
    <%= render @room.messages %>
  </div>
  <%= render "chat/messages/form" %>
</div>