<div class="w-full flex flex-col">
  <h2 class="text-xl py-1 mb-8 border-b-2 border-gray-200">Chatting with <b>Mercedes Yemelyan</b></h2>  
  <%= turbo_stream_from @room, :messages %>
  <div id="messages-list" class="flex flex-col">
    <%= render @room.messages %>
  </div>
  <div class="flex overflow-y-auto">
    <%= render "chat/messages/form" %>
  </div>
</div>